<td>{{hamster.id}}</td>
<td>{{hamster.name}}</td>
<td>{{hamster.weight}}</td>
<td><img src={{hamster.avatarUrl}} class="ui mini rounded image"/></td>
<td><span class="ui label {{labelClass}}" date-test-state>{{hamster.state}}</span></td>
<td>{{hamster.fluffiness}}</td>