<main class="ui container">
  <h1>My hamsters</h1>
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Avatar</th>
        <th>Fluffiness</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |hamster|}}
        <tr data-test-hamster>
          <td>{{hamster.id}}</td>
          <td>{{hamster.name}}</td>
          <td>{{hamster.weight}}</td>
          <td><img src={{hamster.avatarUrl}} class="ui mini rounded image"/></td>
          <td>{{hamster.fluffiness}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</main>
