<main class="ui container">
  <h1>My hamsters</h1>
  <div class="ui grid">
    <div class="ten wide column">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Avatar</th>
            <th>State</th>
            <th>Fluffiness</th>
            <th>Cute Coef</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |hamster|}}
            {{hamster-row hamster=hamster data-test-hamster=true}}
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5"></th>
            <th>min</th>
            <th data-test-min-cute-coef>{{minCuteCoef}}</th>
            <th></th>
          </tr>
          <tr>
            <th colspan="5"></th>
            <th >max</th>
            <th data-test-max-cute-coef>{{maxCuteCoef}}</th>
            <th></th>
          </tr>
          <tr>
            <th colspan="5"></th>
            <th>total</th>
            <th data-test-total-cute-coef>{{totalCuteCoef}}</th>
            <th></th>
          </tr>
          <tr>
            <th colspan="5"></th>
            <th>avg</th>
            <th data-test-avg-cute-coef>{{avgCuteCoef}}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="six wide column">
      {{outlet}}
    </div>
  </div>
</main>
